//Variables
$color-fondo: #ccc;
$color-fondo2:lightblue;
$color-letra:black;
$color-letra2:blue;

//Variable asociadas a un selector
$b: 'body';

#{$b} {
    background-color: $color-fondo;
}

h1{
    color: $color-letra2;
}

//Anidación
.caja{
    border: 1px solid black;
    margin: 0px auto;
    padding: 10px;
    text-align: center;

    background-color: $color-fondo2;

    h2{
        color: $color-letra2;
    }

    .info{
        border: 1px solid black;
        background-color: $color-fondo;

        h3{
            color: green;
        }
    }
}