*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container{
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
}
.container__title, .container__subtitle{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.container__subtitle{
    border-bottom: 1px solid black;
}

.container__layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    /*1FR 2fr 1fr es equivalente a lo de abajo*/
    /* grid-template-columns: calc(25% - 10px) calc(50% - 10px) calc(25% - 10px); */
    grid-template-rows: 1fr 3fr 1fr 4fr;
    height: 700px;
}
.layout__box{

}

.layout__box--red{
    background-color: red;
    /* order: 2; */
    /* Equivalente al width, asigna un tamaño específico */
    animation-name: rotar;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.layout__box--yellow{
    background-color: yellow;
    /* order: 1; */
    animation-name: rotar;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.layout__box--blue{
    background-color: blue;
    /* order: 3; */
    animation-name: rotar;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.layout__box--cyan{
    background-color: cyan;
    /* order: 6; */
    animation-name: rotar;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.layout__box--green{
    background-color: green;
    /* order: 4; */
    animation-name: rotar;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.layout__box--orange{
    background-color: orange;
    /* order: 5; */
    animation-name: rotar;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.layout__box--black{
    background-color: black;
    /* order: 5; */
    animation-name: rotar;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.layout__box--pink{
    background-color: pink;
    grid-column: 2/4;
    /* order: 5; */
    animation-name: rotar;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.layout__box--salmon{
    background-color: salmon;
    /* order: 5; */
    animation-name: rotar;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.layout__box--yellowGreen{
    background-color: yellowgreen;
    grid-column-start: 1;
    grid-column-end: 4;
    /* order: 5; */
    animation-name: rotar;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes rota {
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(90deg);
    }
    66%{
        transform: rotate(270deg);
        border-radius: 100px;
    }
    100%{
        transform: rotate(0deg);
    }
}