* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
    text-align: center;
}

.website{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 120px 70px 2fr 70px;

    grid-template-areas: 
        "cabecera cabecera cabecera cabecera cabecera"
        "menu menu menu menu menu"
        "contenido contenido contenido contenido lateral"
        "footer footer footer footer footer";

    grid-column-gap: 10px;
    width: 80%;
    height: 100vh;
    /* 100 vh es el 100% de la altura de nuesro navegador */

    margin: 0px auto;
    border: 1px solid black;
}

.website__header{
    grid-area: cabecera;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.website__menu{
    grid-area: menu;
    background-color: darkturquoise;
    color: white;
    line-height: 70px;
}

.menu__list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
}

.menu__list li:hover{
    background-color: purple;
    transform: scale(1.1);
    color: white;
    text-decoration: none;
}
.list__item a{
    color: black;
    font-size: 18px;
}

.website__content{
    grid-area: contenido;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* display: flex;
    flex-wrap: wrap; */
    grid-gap: 20px;
}

.content__article{
    /* display: flex;
    flex-basis: calc(25% - 20px); */
    border: 1px solid black;
}

.website__sidebar{
    grid-area: lateral;
    background-color: aqua;
}

.website__footer{
    line-height: 70px;
    grid-area: footer;
    background-color: bisque;
    align-items: center;
    text-align: center;
}
