* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
    text-align: center;
}

.website{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 120px 70px 2fr 70px;

    grid-template-areas: 
        "cabecera cabecera cabecera cabecera cabecera"
        "menu menu menu menu menu"
        "contenido contenido contenido contenido lateral"
        "footer footer footer footer footer";

    grid-column-gap: 10px;
    width: 80%;
    height: 100vh;
    /* 100 vh es el 100% de la altura de nuesro navegador */

    margin: 0px auto;
    border: 1px solid black;
}

.website__header{
    grid-area: cabecera;
}